.item {
  padding: 15px;
}

.item:not(:last-child) {
  border-bottom: 1px solid rgb(194, 194, 194);
}

.item .top {
  justify-content: space-between;
}

.item .top a {
  font-size: 20px;
  text-decoration: none;
  font-weight: 800;
}

.item .top span {
  background-color: transparent !important;
  padding: 5px 8px;
}

.item .top .public {
  background-color: rgb(255, 242, 171) !important;
  color: rgb(102, 102, 102);
}

.item .top .private {
  background-color: rgb(171, 238, 255) !important;
  color: rgb(102, 102, 102);
}

.item .bottom .language {
  font-size: 13px;
  color: rgb(94, 94, 94);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 5px;
}

.item .bottom .language .icon {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: rgb(168, 118, 42);
}

.item .bottom .detail {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 7px;
  padding: 3px 10px;
  justify-content: space-between;
}

.item .bottom .detail .lines {
  width: 1px;
  height: 105%;
  background-color: rgb(185, 185, 185);
}

.item .bottom .detail p,
i {
  margin: 0;
  padding: 0;
  color: rgb(185, 185, 185);
}

.item .bottom .detail p {
  font-size: 13px;
}

.item .bottom .detail i {
  font-size: 10px;
  color: rgb(61, 61, 61);
}

.item .bottom .detail span {
  background-color: rgb(61, 61, 61) !important;
  font-size: 10px;
  margin-right: -5px;
}
