.detail {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 7px;
  padding: 5px 10px;
  justify-content: space-between;
}

.detail .lines {
  width: 1px;
  height: 105%;
  background-color: rgb(185, 185, 185);
}

.detail p,
i {
  margin: 0;
  padding: 0;
  color: rgb(61, 61, 61);
}

.detail p {
  font-size: 12px;
}

.detail i {
  font-size: 10px;
  color: rgb(61, 61, 61);
}

.detail span {
  background-color: rgb(61, 61, 61) !important;
  font-size: 9px;
  margin-right: -5px;
}
